﻿
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Dashboard</h2>

<div class=" collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Html" asp-action="Index">Html</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Css" asp-action="Index">Css</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Javascript" asp-action="Index">Javascript</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Php" asp-action="Index">Php</a>
        </li>
    </ul>
</div>