﻿@inject SignInManager<IdentityUser> signInManager 
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Learn &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="freehtml5.co" />

    <!--
    //////////////////////////////////////////////////////

    FREE HTML5 TEMPLATE
    DESIGNED & DEVELOPED by FreeHTML5.co

    Website: 		http://freehtml5.co/
    Email: 			info@freehtml5.co
    Twitter: 		http://twitter.com/fh5co
    Facebook: 		https://www.facebook.com/fh5co

    //////////////////////////////////////////////////////
     -->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/css/style.css">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@

    <!-- Modernizr JS -->
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div class="fh5co-loader"></div>

    <div id="page">
        <nav class="fh5co-nav" role="navigation">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <p class="num">Call: +01 123 456 7890</p>
                            <ul class="fh5co-social">
                                <li><a href="https://twitter.com/facebook"><i class="icon-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/"><i class="icon-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/"><i class="icon-linkedin"></i></a></li>
                                <li><a href="https://www.youtube.com/"><i class="icon-youtube"></i></a></li>
                                <li><a asp-area="" asp-controller="Admin" asp-action="Index"><i class="icon-aircraft">Admin</i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-1">
                            <div id="fh5co-logo"><a asp-area="" asp-controller="Home" asp-action="Index">Exampedia<span>.</span></a></div>
                        </div>
                        <div class="col-xs-11 text-right menu-1">
                            <ul>
                                <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                                <li class="has-dropdown">
                                    <a asp-area="" asp-controller="Home" asp-action="Exam">Exam</a>
                                    <ul class="dropdown">
                                        <li><a asp-area="" asp-controller="Html" asp-action="HtmlExamimation">HTML</a></li>
                                        <li><a asp-area="" asp-controller="Css" asp-action="CssExamination">CSS</a></li>
                                        <li><a asp-area="" asp-controller="Javascript" asp-action="JavascriptExamination">JavaScript</a></li>
                                        <li><a asp-area="" asp-controller="Php" asp-action="PhpExamination">PHP</a></li>
                                    </ul>
                                </li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                                @if (signInManager.IsSignedIn(User))
                                {
                                <li class="btn-cta">
                                    <form method="post" asp-action="Logout" asp-controller="Home">
                                        <button type="submit" ><span>Logout</span></button>
                                    </form>
                                </li>
                                }
                                else
                                {
                                    <li class="btn-cta"><a asp-area="" asp-controller="Home" asp-action="Login"><span>Login</span></a></li>
                                    <li class="btn-cta"><a asp-area="" asp-controller="Home" asp-action="Register"><span>Register</span></a></li>
                                }

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>




        @RenderBody()


        <footer id="fh5co-footer" role="contentinfo">
            <div class="container">
                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; 2020 Exampedia. All Rights Reserved.</small>
                            <small class="block">Designed by <a href="http://soniaverma.ca/" target="_blank">Sonia Verma</a> </small>
                        </p>
                        <p>
                            <ul class="fh5co-social-icons">
                                <li><a href="https://twitter.com/facebook"><i class="icon-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/"><i class="icon-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/"><i class="icon-linkedin"></i></a></li>
                                <li><a href="https://www.youtube.com/"><i class="icon-youtube"></i></a></li>
                            </ul>
                        </p>
                    </div>
                </div>

            </div>
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/js/jquery.stellar.min.js"></script>
    <!-- Carousel -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="~/js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/magnific-popup-options.js"></script>
    <!-- Main -->

    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>

