﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Panel</title>
    <link rel="stylesheet" href="~/Admin/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Admin/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="padding-left: 50px; padding-right:25px">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Dashboard</a>
                        </li>
                        <li class="nav-item" style="padding-left: 25px; padding-right:25px">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Html" asp-action="index">Html</a>
                        </li>
                        <li class="nav-item" style="padding-left: 25px; padding-right:25px">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Css" asp-action="index">Css</a>
                        </li>
                        <li class="nav-item" style="padding-left: 25px; padding-right:25px">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Javascript" asp-action="index">Javascript</a>
                        </li>
                        <li class="nav-item" style="padding-left: 25px; padding-right:25px">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Php" asp-action="index">Php</a>
                        </li>
                        <li class="nav-item" style="padding-left: 25px; ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="index">Back To Website</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Online Exam Sysyem - Admin Panel
        </div>
    </footer>
    <script src="~/Admin/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Admin/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
