﻿@model IEnumerable<Online_Exam_System.Models.Admin.Html.Html>

@{
    ViewData["Title"] = "HtmlExamimation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>HTML Exam</h1>
                        <h2>Enhance your knowledge by <a asp-area="" asp-controller="Home" asp-action="Index" target="_blank">Exampedia</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="fh5co-contact">
    <div class="container">
        <div class="col-md-12 animate-box">
            <h1>
                Exam Questions (1-5)
            </h1><br/>
            <form method="post" action="HtmlResult">
                <div asp-validation-summary="All"></div>
                @Html.AntiForgeryToken()
                @foreach (var item in Model)
                {
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="Question"> @Html.DisplayFor(modelItem => item.Question)</label>
                            <div class="form-group">
                                <label for="userAnswer" class="control-label"></label>
                                <input for="userAnswer" type="radio" name="@Html.DisplayFor(modelItem => item.Id)" /> @Html.DisplayFor(modelItem => item.Ans1)
                            </div>
                            <div class="form-group">
                                <label for="userAnswer" class="control-label"></label>
                                <input for="userAnswer" type="radio" name="@Html.DisplayFor(modelItem => item.Id)" /> @Html.DisplayFor(modelItem => item.Ans2)
                            </div>
                            <div class="form-group">
                                <label for="userAnswer" class="control-label"></label>
                                <input for="userAnswer" type="radio" name="@Html.DisplayFor(modelItem => item.Id)" /> @Html.DisplayFor(modelItem => item.Ans3)
                            </div>
                            <div class="form-group">
                                <label for="userAnswer" class="control-label"></label>
                                <input for="userAnswer" type="radio" name="@Html.DisplayFor(modelItem => item.Id)" /> @Html.DisplayFor(modelItem => item.CorrectAnswer)
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>

            </form>
        </div>
    </div>
</div>






            @*<table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Question)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CorrectAnswer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ans1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ans2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ans3)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Question)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CorrectAnswer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ans1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ans2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ans3)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            *@
