﻿@model Online_Exam_System.Models.Admin.Css

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>Css</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectAnswer" class="control-label"></label>
                <input asp-for="CorrectAnswer" class="form-control" />
                <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ans1" class="control-label"></label>
                <input asp-for="Ans1" class="form-control" />
                <span asp-validation-for="Ans1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ans2" class="control-label"></label>
                <input asp-for="Ans2" class="form-control" />
                <span asp-validation-for="Ans2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ans3" class="control-label"></label>
                <input asp-for="Ans3" class="form-control" />
                <span asp-validation-for="Ans3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
