﻿@model Online_Exam_System.Models.Admin.Css

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Css</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ans1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ans1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ans2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ans2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ans3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ans3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
