﻿
@{
    ViewData["Title"] = "About";
}

    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>About Us</h1>
                            <h2>Enhance your knowledge by <a asp-area="" asp-controller="Home" asp-action="Index" target="_blank">Exampedia</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-explore" class="fh5co-bg-section">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-12 col-md-offset-3 text-center fh5co-heading" style="margin-left:0">
                    <h1>Online Exam System</h1>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                        Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                        A small river named Duden flows by their place and supplies it with the necessary regelialia. It is
                        a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
                        Pointing has no control about the blind texts it is an almost unorthographic life One day however a small
                        line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox a
                        dvised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli,
                        but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made
                        herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline
                        of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful
                        a rethoric question ran over her cheek, then
                    </p>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                        Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                        A small river named Duden flows by their place and supplies it with the necessary regelialia. It is
                        a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
                        Pointing has no control about the blind texts it is an almost unorthographic life One day however a small
                        line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox a
                        dvised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli,
                        but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made
                        herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline
                        of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful
                        a rethoric question ran over her cheek, then
                    </p>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                        Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                        A small river named Duden flows by their place and supplies it with the necessary regelialia. It is
                        a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
                        Pointing has no control about the blind texts it is an almost unorthographic life One day however a small
                        line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox a
                        dvised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli,
                        but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made
                        herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline
                        of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful
                        a rethoric question ran over her cheek, then
                    </p>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                        Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                        A small river named Duden flows by their place and supplies it with the necessary regelialia. It is
                        a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
                        Pointing has no control about the blind texts it is an almost unorthographic life One day however a small
                        line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox a
                        dvised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli,
                        but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made
                        herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline
                        of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful
                        a rethoric question ran over her cheek, then
                    </p>
                </div>
            </div>
        </div>
    </div>