﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Online_Exam_System.Models.Admin.ContactViewModel

@{
    ViewData["Title"] = "Contact Page";
}
<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Contact Us</h1>
                        <h2>Enhance your knowledge by <a asp-area="" asp-controller="Home" asp-action="Index" target="_blank">Exampedia</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="fh5co-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-1 animate-box">

                <div class="fh5co-contact-info">
                    <h3>Contact Information</h3>
                    <ul>
                        <li class="address">123 West 21th Street, <br> Suite 721 Winnipeg MB R2G4T5</li>
                        <li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
                        <li class="email"><a asp-area="" asp-controller="Home" asp-action="Index" target="_blank">info@exanpedia.com</a></li>
                        <li class="url"><a asp-area="" asp-controller="Home" asp-action="Index" target="_blank">Exampedia.ca</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-6 animate-box">
                <h3>Get In Touch</h3>
                <form asp-action="Contact" method="post" asp-controller="Home">
                    <div  asp-validation-summary="All"></div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" type="text" id="fname" class="form-control" placeholder="Your firstname">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" type="text" id="lname" class="form-control" placeholder="Your lastname">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" type="text" id="email" class="form-control" placeholder="Your email address">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label asp-for="Message"></label>
                            <textarea asp-for="Message" name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>