﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Exam Page";
}
<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image: url(~/images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Exam </h1>
                        <h2>Enhance your knowledge by <a asp-area="" asp-controller="Home" asp-action="Index" target="_blank">Exampedia</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-explore" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Take A Exam</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
        </div>
    </div>
    <div class="fh5co-explore fh5co-explore1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-5 animate-box">
                    <img class="img-responsive" src="~/images/work_1.png" alt="work">
                </div>
                <div class="col-md-4 col-md-pull-8 animate-box">
                    <div class="mt">
                        <h3>We Want You To Learn Coding Skills</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="list-nav">
                            <li><i class="icon-check2"></i>Far far away, behind the word</li>
                            <li><i class="icon-check2"></i>There live the blind texts</li>
                            <li><i class="icon-check2"></i>Separated they live in bookmarksgrove</li>
                        </ul>
                        <p><a class="btn btn-primary btn-lg popup-vimeo btn-video" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play"></i> Watch Video</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fh5co-explore">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-pull-1 animate-box">
                    <img class="img-responsive" src="~/images/work_1.png" alt="work">
                </div>
                <div class="col-md-4 animate-box">
                    <div class="mt">
                        <div>
                            <h4><i class="icon-user"></i>Real Project For Real Solutions</h4>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. </p>
                        </div>
                        <div>
                            <h4><i class="icon-video2"></i>Real Project For Real Solutions</h4>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                        <div>
                            <h4><i class="icon-shield"></i>Real Project For Real Solutions</h4>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-project">
    <div class="container-fluid proj-bottom">
        <div class="row">
            <div class="col-md-3 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a asp-area="" asp-controller="Html" asp-action="HtmlExamimation">
                    <img src="~/images/project-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>HTML</h3>
                    <span>View Course</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a asp-area="" asp-controller="Css" asp-action="CssExamination">
                    <img src="~/images/project-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>CSS</h3>
                    <span>View Course</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a asp-area="" asp-controller="Javascript" asp-action="JavascriptExamination">
                    <img src="~/images/project-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Javascript</h3>
                    <span>View Course</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a asp-area="" asp-controller="Php" asp-action="PhpExamination">
                    <img src="~/images/project-9.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>PHP</h3>
                    <span>View Course</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="features">
                <div class="col-md-4 animate-box">
                    <h4>We have coolest features of this course</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  </p>
                </div>
                <div class="col-md-4 animate-box">
                    <h4>Great teachers that we have</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  </p>
                </div>
                <div class="col-md-4 animate-box">
                    <h4>Steps by steps turorial session</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  </p>
                </div>
            </div>
            <div class="col-md-12 text-center animate-box">
                <p><a class="btn btn-primary btn-lg btn-learn" asp-area="" asp-controller="Home" asp-action="Exam">Take A Exam</a></p>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-started" style="background-image:url(~/images/img_bg_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Lets Get Started</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p><a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-default btn-lg">Register</a></p>
            </div>
        </div>
    </div>
</div>