﻿@model Online_Exam_System.Models.Admin.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Login Form</h1>
                        <h2>Enhance your knowledge by <a asp-area="" asp-controller="Home" asp-action="Index" target="_blank">Exampedia</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="fh5co-contact">
    <div class="container">
        <div class="col-md-6 col-md-offset-3 animate-box">
            <h3>Get In Touch</h3>
            <form asp-action="Login" method="post">

                <div class="row form-group">
                    <div class="col-md-12">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="text" id="email" class="form-control" placeholder="Your email address">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" id="password" class="form-control" placeholder="Enter your Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            Remember Me
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary">
                </div>

            </form>
        </div>
    </div>
</div>