﻿@model Online_Exam_System.Models.Admin.RegisterViewModel
@{
    ViewData["Title"] = "Register Page";
}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Register Form</h1>
                        <h2>Enhance your knowledge by <a asp-area="" asp-controller="Home" asp-action="Index" target="_blank">Exampedia</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="fh5co-contact">
    <div class="container">
        <div class="col-md-12 animate-box">
            <h3>Get In Touch</h3>
            <form asp-action="Register" method="post">
                <div asp-validation-summary="All"></div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" type="text" id="fname" class="form-control" placeholder="Your Username">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                          <label asp-for="Email"></label>
                          <input asp-for="Email" type="text" id="email" class="form-control" placeholder="Your email address">
                          <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" id="password" class="form-control" placeholder="Enter your Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" type="password" id="confirmpassword" class="form-control" placeholder="Confirm Password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
