﻿@model IEnumerable<Online_Exam_System.Models.Admin.Css>

@{
    ViewData["Title"] = "CssResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>CSS Exam Correct Answers</h1>
                        <h2>Enhance your knowledge by <a asp-area="" asp-controller="Home" asp-action="Index" target="_blank">Exampedia</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="fh5co-contact">
    <div class="container">
        <div class="col-md-12 animate-box">
            <h1>Css Exam </h1>


            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Question)
                        </th>
                        <td>
                            @Html.DisplayNameFor(model => model.CorrectAnswer)
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Question)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CorrectAnswer)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>